<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Welcome to the Publika blog</h1>
		<p>Feel free to give your ideas and comment.</p>
		<br>
		
		<h3>Music Recording</h3>
		<p>

		Tracking(the process of recording songs), Mixing (the process of blending all the individual tracks in a recording to create a version of the song that sounds as good as possible), Mastering (making your music sound the best it can be).</p>

		<h3>Booking</h3>
		<p>

		An agent will work with promoters to make sure that everything you need will be at the venue, that you have enough time to soundcheck, and most importantly, what the payment will be for your performance.</p>
		<h3>Music Label</h3>
		<p>coordination of the production, manufacture, distribution, marketing, promotion.</p>




		<p>If you'd like to follow along find Publika on Facebook <a href="https://www.facebook.com/pages/Publika-Records/500944703371047?fref=ts">@Publika</a> or on the web at <a href="http://publika.herokuapp.com">Publika.com</a>.</p>
	</div>
</div>